@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Al Qalam Quran Majeed';
            font-style: regular;
    font-weight: 400;
    /* @ is alias on vite.config.js */
    /* custom font declaration tailwindcss */
    font-display: swap;
        src: local('Al Qalam Quran Majeed'),url(@/resources/font/AlQalamQuranMajeed.ttf) format('truetype');
    }
}
