@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Quran';
            font-style: normal;
    font-weight: 400;
    font-display: swap;
        src: url(/resources/font/AlQalamQuranMajeed.ttf) format('ttf');
    }
}
